[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
beautifulsoup4 = "*"
requests = "*"
wikipedia = "*"
wikipedia-api = "*"
lxml = "*"
igdb-api-v4 = "*"
protobuf = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
